argon2-cffi==21.1.0
Django==3.2.8
django-cors-headers==3.10.0
django-environ==0.4.5
django-graphql-jwt==0.3.2
django-graphql-playground==1.0
graphene-django==3.0.0b7
psycopg2==2.9.1
opencage==2.0.0
python-dateutil==2.8.2
